<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>All chats</h1>
    <form method="GET" action="/chats/new">
        <button class="new-chat-btn">New chat</button>
    </form>
    <br>
    <% for(let chat of newchats){ %>
        <div class="chat">
            <p>From: <%= chat.from %></p>
            <div class="msg">
                <p>Message: <%= chat.message %></p>
            </div>
            <p>To: <%= chat.to %></p>
            <p>Time: <%= chat.created_at.toString().split(" ")[4]%></p>
            <p>Date: <%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
            <div class="btn-container">
                <form method="GET" action="/chats/<%= chat._id %>/edit">
                    <button class="edit-btn">Edit</button>
                </form>
                <form method="POST" action="/chats/<%= chat._id %>/?_method=DELETE">
                    <button class="delete-btn">Delete</button>
                </form>
            </div>
        </div>
    <% } %>
</body>
</html>
